.header {
    width: 100%;
    height: auto;
    background-color: #CAD9BA ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 0;

}
 
.caja{

    display: none !important ;

}


.vitam{
    display: none ;

}


.piram{
    display: none  ;

}


.lipid{
    display: none  ;

}


.carbo{
    display: none  ;

}

@media screen and (max-width:136.6rem) and (orientation: landscape){
    .logo2 {
        width: 5.5rem;
        height: 5.5rem;
        
    } 
    
    .menu{
       font-size: 3rem;
       cursor: pointer;
       z-index: 100;
    }

    .empresa2{
        width: 20%;
        }
    
        #btn-menu{
            display: none;
        }
        
        .container-menu{
            position: absolute;
            background-color:rgb(202,217,186);
            height: 100vh;
            top: 0; right: 0;
            transition: all 500ms ease;
            opacity: 0;
            visibility: hidden;
        }
        #btn-menu:checked ~ .container-menu{
            opacity: 1;
            visibility: visible;
        }
        
        .cont-menu{
            
            max-width: 25rem;
            background-color: rgb(202,217,186); 
            
            position: relative;
            transition: all 500ms ease;
            transform: translateX(0%);
        }
        
        #btn-menu:checked ~ .container-menu{
            transform: translateX(0%);
        }
        .cont-menu nav{
            transform: translateY(15%);
        }
        
        .cont-menu nav a{
            display: block;
            text-decoration: none;
            padding: 2rem ;
            color: #000;
            font-weight: 600;
            border-right: 0.5rem solid transparent;
            transition: all 400ms ease;
            font-size: 1.5rem;
        }
        
        .cont-menu nav a:hover{
            border-right: 0.5rem solid white ;
            background: #1f1f1f;
            color: #fff;
        }
        
        .cont-menu label {
            position: absolute;
            right: 0.5rem;
            top: 1rem;
            color: #fff;
            cursor: pointer;
            font-size: 1.8rem;
        
        }


        .contenedor {
            width: 100%;
            height: 100%;
            margin-right: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .titulo {
            margin-top: 3rem;
            text-align: center;
            color:#F77E21;
            font-size: 3.2rem;
        }
        
        .video-container {
            margin-top: 3rem;
            width: 80%;
            height: 45rem;
            background-color: #D9D9D9;
        }
    
        .alimentos {
            margin-top: 3rem;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    
        .alimento {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-top: 0.2rem;
        }
    
        .alimento h3 {
            font-size: 1.8rem;
            margin-top: -1rem;
        }
    
        .alimento span {
            font-size: 1.8rem;
            margin-top: -1rem;
            margin-right: 5rem;
        }
    
        .container {
            width: 75%;
            margin-left: -3rem;
        }
    
        .container div {
            margin: 1.5rem 0rem 0rem 0rem;
        }

        .item {
            width: 40%;
        }
    
        .infoPro {
            display: flex;
            flex-direction: row;  
            justify-content: space-around;
            align-items: center;
            padding: 0rem 3rem 0rem 0rem; 
            width: 100%;
            height: 11.8rem;
            background-color: #F77E21;
            border-radius: 1.5rem;
            margin: 1.8rem 0rem 1.8rem 0rem;
        }
    
        .imagen {
            width: 12rem;
            height: 12rem;
            border-radius: 100%;
            position:relative;
            left: -4.5rem;
            object-fit: cover;
        }
    
        .porcentajes {
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start; 
            width: 100%;
        }
    
        .porcentajes div {
            display: flex;
            flex-direction: column;
        }
    
        .porcentajes .prot{
           margin-right: 1.9rem;
           width: 5.3rem;
    
           display: flex;
           align-self: flex-end;
        }
    
        .porcentajes .prot span{
            padding-left: 2.5rem;
            margin: 0.3rem 0rem 0rem 0rem;
            font-weight: 400;
         }
    
        .porcentajes .carb{
            margin-left: 1.2rem;
            width: 7.5rem;
     
            display: flex;
            align-self: flex-end;
         }
    
         .porcentajes .carb h3 {
            margin-left: -1.5rem;
         }
         .porcentajes .carb span{
            padding-left: 2.5rem;
            margin: 0.3rem 0rem 0rem 0rem;
            font-weight: 400;
         }
    
         .porcentajes .lipi{
            margin-left: 2rem;
            width: 4.2rem;
            text-align: end;
     
            display: flex;
         }
    
         .porcentajes .lipi {
            padding-right: 12rem;
         }
    
         .porcentajes .lipi span{
            padding-right: -11rem;
            margin: 0.3rem -4.5rem 0rem 0rem;
            font-weight: 400;
         }
    
        .porcentajes h3 {
            font-size: 1.8rem;
            font-weight: 500;
            color: #000000;
        }
    
        .porcentajes span {
            font-size: 1.8rem;
            color: #FFFFFF;
            font-weight: 500;
        }
    
        .flecha {
            font-size: 2rem;
        }
}

@media screen and (max-width:37.5rem) and (orientation: portrait){ 
    
.logo2 {
    width: 3.4rem;
    height: 3.4rem;
    
} 

.empresa2 {
    width: 20rem;
}

.menu{
   font-size: 2rem;
   cursor: pointer;
   z-index: 100;

}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    z-index: 11;
    background-color:rgb(202,217,186);
    height: 100vh;
    top: 0; right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    z-index: 11;
    max-width: 25rem;
    background-color: rgb(202,217,186); 
  
    position: relative;
    transition: all 500ms ease;
    transform: translateX(0%);
}

#btn-menu:checked ~ .container-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;

    padding: 2rem ;

    padding: 2rem;

    color: #000;
    font-weight: 600;
    border-right: 0.5rem solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-right: 0.5rem solid white ;
    background: #1f1f1f;
    color: #fff;
}

.cont-menu label {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;

}

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-top: 3rem;
    text-align: center;
    color:#F77E21;
    font-size: 3.2rem;
}

.video-container {
    margin-top: 3rem;
    width: 80%;
    height: 20.8rem;
    background-color: #D9D9D9;
}

.alimentos {
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.alimento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: -1rem;
}

.alimento h3 {
    font-size: 1rem;
}

.alimento span {
    font-size: 1rem;
}

.container {
    width: 70%;
}

.container div {
    margin: 0.6rem 0rem 0rem 0rem;
}

.infoPro {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem 0rem 0rem;
    width: 31.3rem;
    height: 6.5rem;
    background-color: #F77E21;
    border-radius: 1.5rem;
    margin: 0.2rem 0rem 0.2rem 0rem;
}

.imagen {
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 100%;
    position:static;
    margin-left: -1.5rem;
    object-fit: cover;
}

.porcentajes {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    width: 100%;
    margin: 0rem;
}

.porcentajes div {
    display: flex;
    flex-direction: column;
}

.porcentajes .prot{
   margin-right: 0;
   width: 5.3rem;

   display: flex;
   align-self: flex-end;
}

.porcentajes .prot span{
    padding-left: 1rem;
    margin: 0.3rem 0rem 0rem 0rem;
 }

.porcentajes .carb{
    margin-left: 1.2rem;
    width: 7.5rem;

    display: flex;
    align-self: flex-end;
 }

 .porcentajes .carb span{
    padding-left: 2rem;
    margin: 0.3rem 0rem 0rem 0rem;
 }

 .porcentajes .lipi{
    margin-left: 2rem;
    width: 4.2rem;
    text-align: end;

    display: flex;
 }

 .porcentajes .lipi span{
    padding-right: 1rem;
    margin: 0.3rem 0rem 0rem 0rem;
 }

.porcentajes h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.porcentajes span {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 500;
}

.flecha {
    z-index: 10;
}
  }
    