.footer{
    background-color: #488C03;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    color: #ffffff;
}


.nombres{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    padding: 1rem;
}

@media screen and (max-width:136.6rem) and (orientation: landscape){ 
     .footer{
        display: none;
     }
    .nombres{
        display: none;
    }

      }

@media screen and (max-width:37.5rem) and (orientation: portrait){ 
    .footer{
        background-color: #488C03;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
        color: #ffffff;
    }
    
    
    .nombres{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      
        width: 100%;
        padding: 1rem;
    }
  }      