body {
    background-color: #CAD9BA;
}

.root {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 {
    display: none;
}

.empresa2 {
    display: none;
}

.banner {
    display: none;
}

.inf {
    display: none;
}

.heal {
    width: 100vw;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heal2 {
    width: 100vw;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_emp {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    background-color: #488C03;
    border-radius: 0.6rem;
}

.container-menu {
    display: none;

}
#btn-menu {
    display: none;
}
.caja {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}