.header {
    width: 100%;
    height: auto;
    background-color: #CAD9BA ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 0;

}

.logo {
    display: none;
}

.empresa {
    display: none;
}

.btn_emp {
    display: none;
}

@media screen and (max-width:37.5rem){ 
   .logo2 {
    width: 3.4rem;
    height: 3.4rem;
    
} 

.menu{
   font-size: 2rem;
}

.banner {
    width: 100%;
    background-size: cover;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inf {
    width: 60%;
    align-self: center;
    margin: 5rem 0rem 4rem 0rem;
}
}

@media screen and (max-width:136.6rem){ 
    
}

@media screen and (max-width:192rem){ 
    
}