.header {
    width: 100%;
    height: auto;
    background-color: #CAD9BA ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 0;

}
 
.caja{

    display: none !important ;

}


.vitam{
    display: none ;

}


.piram{
    display: none  ;

}


.lipid{
    display: none  ;

}


.carbo{
    display: none  ;

}

@media screen and (max-width:136.6rem) and (orientation: landscape){
    .logo2 {
        width: 5.5rem;
        height: 5.5rem;
        
    } 
    
    .menu{
       font-size: 3rem;
       cursor: pointer;
       z-index: 100;
    }

    .empresa2{
        width: 20%;
        }
    
        #btn-menu{
            display: none;
        }
        
        .container-menu{
            position: absolute;
            background-color:rgb(202,217,186);
            height: 100vh;
            top: 0; right: 0;
            transition: all 500ms ease;
            opacity: 0;
            visibility: hidden;
        }
        #btn-menu:checked ~ .container-menu{
            opacity: 1;
            visibility: visible;
        }
        
        .cont-menu{
            
            max-width: 25rem;
            background-color: rgb(202,217,186); 
            
            position: relative;
            transition: all 500ms ease;
            transform: translateX(0%);
        }
        
        #btn-menu:checked ~ .container-menu{
            transform: translateX(0%);
        }
        .cont-menu nav{
            transform: translateY(15%);
        }
        
        .cont-menu nav a{
            display: block;
            text-decoration: none;
            padding: 2rem ;
            color: #000;
            font-weight: 600;
            border-right: 0.5rem solid transparent;
            transition: all 400ms ease;
            font-size: 1.5rem;
        }
        
        .cont-menu nav a:hover{
            border-right: 0.5rem solid white ;
            background: #1f1f1f;
            color: #fff;
        }
        
        .cont-menu label {
            position: absolute;
            right: 0.5rem;
            top: 1rem;
            color: #fff;
            cursor: pointer;
            font-size: 1.8rem;
        
        }

        .piramide-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .imagen4 {
            width: 35%;
            margin-top: 3rem;
        }
    
        .video-container {
            margin-top: 3rem;
            width: 75%;
            height: 50rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .video{
            width: 100%;
            height: 100%;
            border: 1.5rem solid #D9D9D9;
        }

        .infoP {
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 30rem;
        }
        
        .infoP:hover .padre{
            display: block;
        }
        
        .padre {
            width: 11rem;
            height: 1.5rem;
            position: relative;
            left: 3rem;
            display: none;
        }
        
        .linea {
            width: 100%;
            border-top: 0.1rem solid #fff;
            position: relative;
            left: 0.9rem;
            top: 0.13rem;
        }
        
        .circulo {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            border: 0.1rem solid #fff;
        }
        
        .padre span {
            color: #fff;
            font-size: 1.2rem;
            position: relative;
            left: 3.5rem;
            top: -1.4rem;
        }
        
        .infoP2 {
            width: 9rem;
            height: 8rem;
            position: absolute;
            top: 34rem;
        }
        
        .infoP2:hover .padre2{
            display: block;
            transition: .5s;
        }
        
        .padre2 {
            width: 11rem;
            height: 1.5rem;
            position: relative;
            left: -11rem;
            display: none;
        }
        
        .linea2 {
            width: 100%;
            border-top: 0.1rem solid #fff;
            position: relative;
            left: 0.9rem;
            top: 0.13rem;
        }
        
        .circulo2 {
            width: 1.5rem;
            height: 1.5em;
            border-radius: 100%;
            border: 0.1rem solid #fff;
            position: relative;
        }
        
        .padre2 span {
            color: #fff;
            font-size: 1.2rem;
            position: relative;
            left: 1.7rem;
            top: -1rem;
        }
        
        .infoP3 {
            width: 15rem;
            height: 4rem;
            position: absolute;
            top: 43rem;
            border-radius: 0rem 0rem 3rem 3rem;
        }
        
        .infoP3:hover .padre3{
            display: block;
        }
        
        .padre3 {
            width: 11rem;
            height: 1.5rem;
            position: relative;
            top: -1.5rem;
            left: 15.5rem;
            display: none;
        }
        
        .linea3 {
            width: 100%rem;
            border-top: 0.1rem solid #fff;
            position: relative;
            left: 0.9rem;
            top: 0.13rem;
        }
        
        .circulo3 {
            width: 1.5rem;
            height: 1.5em;
            border-radius: 100%;
            border: 0.1rem solid #fff;
        }
        
        .padre3 span {
            color: #fff;
            font-size: 1.2rem;
            position: relative;
            left: 1.7rem;
            top: -1rem;
        }
        
        .infoP4 {
            width: 20rem;
            height: 8rem;
            position: absolute;
            top: 49rem;
        }
        
        .infoP4:hover .padre4{
            display: block;
        }
        
        .padre4 {
            width: 11rem;
            height: 1.5rem;
            position: relative;
            top: -1.8rem;
            left: -12.5rem;
            display: none;
        }
        
        .linea4 {
            width: 100%rem;
            border-top: 0.1rem solid #fff;
            position: relative;
            left: 0.9rem;
            top: 0.13rem;
        }
        
        .circulo4 {
            width: 1.5rem;
            height: 1.5em;
            border-radius: 100%;
            border: 0.1rem solid #fff;
            position: relative;
        }
        
        .padre4 span {
            color: #fff;
            font-size: 1.2rem;
            position: relative;
            left: 1.7rem;
            top: -1rem;
        }

}

@media screen and (max-width:37.5rem) and (orientation: portrait){ 
    
.logo2 {
    width: 3.4rem;
    height: 3.4rem;
    
} 

.empresa2 {
    width: 20rem;
}

.menu{
   font-size: 2rem;
   cursor: pointer;
   z-index: 100;

}

#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background-color:rgb(202,217,186);
    height: 100vh;
    top: 0; right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    
    max-width: 25rem;
    background-color: rgb(202,217,186); 
  
    position: relative;
    transition: all 500ms ease;
    transform: translateX(0%);
}

#btn-menu:checked ~ .container-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 2rem ;
    color: #000;
    font-weight: 600;
    border-right: 0.5rem solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-right: 0.5rem solid white ;
    background: #1f1f1f;
    color: #fff;
}

.cont-menu label {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;

}

.banner {
    width: 100%;
    background-size: cover;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inf {
    width: 60%;
    align-self: center;
    margin: 5rem 0rem 4rem 0rem;
}

.piramide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen4 {
    width: 90%;
    margin-top: 3rem;
}

.video-container {
    margin-top: 6rem;
    width: 95%;
    height: auto;
    background-color: #D9D9D9;
}

.video{
    width: 100%;
    height: 100%;
    border: 1rem solid #D9D9D9;
}

.infoP {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 22rem;
}

.infoP:hover .padre{
    display: block;
}

.padre {
    width: 7rem;
    height: 1.5rem;
    position: relative;
    left: 3rem;
    display: none;
}

.linea {
    width: 100%rem;
    border-top: 0.1rem solid #fff;
    position: relative;
    margin-left: 0.4rem;
    top: 0.13rem;
}

.circulo {
    width: 0.8rem;
    height: 0.8em;
    border-radius: 100%;
    border: 0.1rem solid #fff;
}

.padre span {
    color: #fff;
    font-size: 0.8rem;
    position: relative;
    left: 1.7rem;
    top: -1rem;
}

.infoP2 {
    width: 6rem;
    height: 5.5rem;
    position: absolute;
    top: 25.5rem;
}

.infoP2:hover .padre2{
    display: block;
}

.padre2 {
    width: 7rem;
    height: 1.5rem;
    position: relative;
    left: -7.2rem;
    display: none;
}

.linea2 {
    width: 100%rem;
    border-top: 0.1rem solid #fff;
    position: relative;
    margin-left: 0.4rem;
    top: 0.13rem;
}

.circulo2 {
    width: 0.8rem;
    height: 0.8em;
    border-radius: 100%;
    border: 0.1rem solid #fff;
    position: relative;
}

.padre2 span {
    color: #fff;
    font-size: 0.8rem;
    position: relative;
    left: 1.7rem;
    top: -1rem;
}

.infoP3 {
    width: 12rem;
    height: 3rem;
    position: absolute;
    top: 31.4rem;
    border-radius: 0rem 0rem 3rem 3rem;
}

.infoP3:hover .padre3{
    display: block;
}

.padre3 {
    width: 7rem;
    height: 1.5rem;
    position: relative;
    top: -1rem;
    left: 11.5rem;
    display: none;
}

.linea3 {
    width: 100%rem;
    border-top: 0.1rem solid #fff;
    position: relative;
    margin-left: 0.4rem;
    top: 0.13rem;
}

.circulo3 {
    width: 0.8rem;
    height: 0.8em;
    border-radius: 100%;
    border: 0.1rem solid #fff;
}

.padre3 span {
    color: #fff;
    font-size: 0.8rem;
    position: relative;
    left: 1.7rem;
    top: -1rem;
}

.infoP4 {
    width: 15rem;
    height: 6rem;
    position: absolute;
    top: 35.5rem;
}

.infoP4:hover .padre4{
    display: block;
}

.padre4 {
    width: 7rem;
    height: 1.5rem;
    position: relative;
    top: -1.8rem;
    left: -7.4rem;
    display: none;
}

.linea4 {
    width: 100%rem;
    border-top: 0.1rem solid #fff;
    position: relative;
    margin-left: 0.4rem;
    top: 0.13rem;
}

.circulo4 {
    width: 0.8rem;
    height: 0.8em;
    border-radius: 100%;
    border: 0.1rem solid #fff;
    position: relative;
}

.padre4 span {
    color: #fff;
    font-size: 0.8rem;
    position: relative;
    left: 1.7rem;
    top: -1rem;
}
  }
